/*---------------------VU LUAN -----------------*/
* {
   margin: auto;
   font-family: arial, sans-serif;
   padding: 0;
   box-sizing: border-box;
   transition: transform 0.5s ease;
   transition: all 0.5s ease;
}

.margin-header {
   margin: 0 auto;
}

html {
   scroll-behavior: smooth;
}

footer * {
   margin: auto;
   padding: 0;
}

header * {
   margin: auto;
   padding: 0;
}

body {
   margin: 0;
   background-color: rgb(238, 230, 214);
}

/*------------------------------------------*/


*:hover {
   transition: all 0.5s ease;
}

.flex {
   display: flex;
}

.bg {
   background-color: mediumturquoise;
   min-height: 35px;
   width: 100%;
}

.mgr {
   margin-right: 0.5rem;
   color: white;
}

.mgl {
   margin-left: 0.5rem;
   color: white;
}

.signin {
   background-color: red;
   border-radius: 5px;
   padding: 5px;
   min-width: 120px;
   text-align: center;
   text-transform: uppercase;
}

.signin:hover {
   background-color: #19d259;
}

.signin-a,
.flex>a {
   color: white;
   text-decoration: none;
}

.foot {
   text-decoration: none;
   color: darkturquoise;
}

.logo {
   padding-bottom: 15px;
   padding-top: 15px;
   width: 70%;
}

.div-img {
   width: 100px;
}

.img {
   width: 100%;
   border-radius: 15px;
}

#menu ul {
   list-style-type: none;
   text-align: center;
}

#menu ul li {
   display: inline-table;
   width: 120px;
   height: 40px;
   line-height: 40px;
   position: relative;
   font-weight: bolder;
}

#menu ul li a {
   text-decoration: none;
   display: block;
   color: #eb5757;
   border-radius: 10px;
   font-size: large;
   white-space: nowrap;
}

#menu ul li a:hover {
   background-color: #19d259;
   color: #fb6400;
}

#menu ul li a:last-child:hover {
   background-color: none;
   color: none;
}

#menu ul li>.sub-menu {
   display: none;
   position: absolute;
   background-color: mediumturquoise;
   z-index: 9999;
}

#menu ul li:hover .sub-menu {
   display: block;
   border-radius: 10px;
}

/*-------------------------------*/
.show-nav {
   display: none;
   /* background-color: slategray; */
   /* padding: 10px; */
   width: 1rem;
   text-align: center;
   text-decoration: none;
   border-radius: 2px;
   position: absolute;
   top: 35%;
   left: 5px;
   transition: left 1s;
   font-size: x-large;

}

.close {
   font-size: xx-large;
}

#selec-header li.hide-on-large-screen {
   display: none;
}

/*---------------------------------*/
.footer-hr {
   padding-bottom: 15px;
   width: 100%;
}

.footer-div {
   width: 80%;
}

.footer-div-div1 {
   padding-bottom: 15px;
   width: 80%;
}

.footer-div-div1>h3,
.footer-div-div1>h1,
.footer-div-div1>p {
   padding-bottom: 10px;
   transform: scale(1);
}

.footer-div-div1>h3:hover,
.footer-div-div1>h1:hover,
.footer-div-div1>p:hover,
.space>div:hover {
   transform: scale(1.2);
   color: #fb6400;
}



.footer-div-div2 {
   width: 85%;
   text-align: center;
}

.footer-div-div2-div1,
.footer-div-div2-div3 {
   padding-bottom: 15px;
}

.footer-div-div2-div2 {
   background-color: orange;
   font-size: small;
   border-radius: 10px;
}

.footer-div-div2-div2>p {
   border-right: 1px solid #111;
   padding-right: 10px;
}

.footer-div-div2-div2>p:last-child {
   border-right: none
}

.phone {
   margin: 0;
}

footer {
   background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(130, 253, 255, 0.916)), url(imgs/background.jpg);
}
/*----------------------------------------*/

.totop {
   background-color: #fb6400;
   color: white;
   position: fixed;
   bottom: 16px;
   right: 32px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 32px;
   text-decoration: none;
   opacity: 0;
   pointer-events: none;
   transition: all .4s;
}

.totop.active {
   bottom: 32px;
   pointer-events: auto;
   opacity: 1;
}
/*-------------------------------------*/

.more-infomation {
   color: #708cbd;
   margin: 0 auto;
   padding: 0;
   width: 10%;
}

.more-infomation:hover {
   font-weight: bolder;
   transform: scale(1.2);
   color: #fb6400;
}

.more-img a>img {
   width: 130px;
   margin-top: 5px;
}

.icon-footer {
   display: inline-flex;
}

.icon-footer>a {
   margin: 0 15px;
   font-size: xx-large;
}

.icon-footer .my-element {
   position: relative;
   display: contents;
}

.icon-footer a span {
   margin: 0;
}

/*-------------------------------------*/
/* header nhất duy đã sửa */

.box {
   width: 80%;
   padding: 8px;
   box-sizing: border-box;
   border-radius: 20px;
   padding-bottom: 24px;
   margin-top: 50px;
}

.boxx {
   border: 1.5px solid #fb6400;
   height: 200px;
   border-radius: 20px;
   text-align: center;
   box-shadow: 5px 10px 15px 20px rgba(0, 0, 0, 0.2);
}

.boxx-padding20 {
   padding: 20px;
   font-weight: bolder;
   background-color: #fb6400;
   color: white;
   border-radius: 19px;
   text-align: center;
}

.boxx-table {
   display: flex;
   height: 100px;
   align-items: center;
   flex-wrap: wrap;
   justify-content: space-evenly;

}

label {
   font-weight: bolder;
   color: #00613d;
   width: max-content;
}

.start {
   border: 1px solid #fb6400;
   border-radius: 10px;
   padding: 20px;
   margin: 5px;
   margin-left: 10px;
   width: 180px;
   display: inline-block;
}

.end {
   border: 1px solid #fb6400;
   border-radius: 10px;
   padding: 20px;
   margin: 5px;
   width: 180px;
   outline: none;
   transition: 0.2s;
   text-align: center;
}

.end:focus {
   border: 2px solid #00613d;
}

.date {
   border: 1px solid #fb6400;
   border-radius: 10px;
   padding: 20px;
   margin: 5px;
   width: 180px;
   outline: none;
   transition: 0.2s;
   cursor: pointer;
   display: block;
   text-align: center;
}

.date:focus {
   border: 2px solid #00613d;
}

.tickets {
   border: 1px solid #fb6400;
   border-radius: 10px;
   padding: 20px;
   margin: 5px;
   margin-right: 10px;
   width: 180px;
   outline: none;
   transition: 0.2s;
   cursor: pointer;
}

.tickets:focus {
   border: 2px solid #00613d;
}

.search {
   display: block;
   box-sizing: border-box;
   line-height: 50px;
   border: 1px solid #fb6400;
   border-radius: 30px;
   width: 250px;
   height: 50px;
   font-size: large;
   color: white;
   background-color: darkcyan;
   cursor: pointer;
   margin: 0 auto;
   position: relative;
   z-index: 1;
   top: -50px;
}


@-webkit-keyframes my {
   0% {
      color: #F8CD0A;
   }

   50% {
      color: #fff;
   }

   100% {
      color: #F8CD0A;
   }
}

@-moz-keyframes my {
   0% {
      color: #F8CD0A;
   }

   50% {
      color: #fff;
   }

   100% {
      color: #F8CD0A;
   }
}

@-o-keyframes my {
   0% {
      color: #F8CD0A;
   }

   50% {
      color: #fff;
   }

   100% {
      color: #F8CD0A;
   }
}

@keyframes my {
   0% {
      color: #F8CD0A;
   }

   50% {
      color: #fff;
   }

   100% {
      color: #F8CD0A;
   }
}

.search {
   font-size: larger;
   -webkit-animation: my 700ms infinite;
   -moz-animation: my 700ms infinite;
   -o-animation: my 700ms infinite;
   animation: my 700ms infinite;
}

/*--------------------Nhat Duy ------------------------*/

main {
   width: 100%;
   justify-content: center;
   align-items: center;
}

body {
   box-sizing: border-box;
}

.bg-nav {
   width: 100%;
   height: 150px;
   background-image: url('./imgs/bus8.jpg');
   background-size: cover;
   background-position: center;
}

section {
   margin: auto;
}

.footer-div {
   width: 80%;
}

.footer-div-div1 {
   padding-bottom: 15px;
   width: 80%;
}

.footer-div-div1>h3 {
   padding-bottom: 10px;
}

.footer-div-div1>h1 {
   padding-bottom: 10px;
}

.footer-div-div1>p {
   padding-bottom: 10px;
}

.footer-div-div2 {
   width: 85%;
   text-align: center;
}

.footer-div-div2-div1,
.footer-div-div2-div3 {
   padding-bottom: 15px;
}

.footer-div-div2-div2 {
   background-color: orange;
   font-size: small;
   border-radius: 10px;
}

.phone {
   margin: 0;
}

footer {
   background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgba(130, 253, 255, 0.916)), url(imgs/background.jpg);
}

.totop {
   background-color: #fb6400;
   color: white;
   position: fixed;
   bottom: 16px;
   right: 32px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 32px;
   text-decoration: none;
   opacity: 0;
   pointer-events: none;
   transition: all .4s;
}

.totop.active {
   bottom: 32px;
   pointer-events: auto;
   opacity: 1;
}

.end,
.date,
.tickets {
   font-size: unset;
}

#slide {
   width: 100%;
   position: relative;
   overflow: hidden;
}

#slide>h2 {
   text-align: center;
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fb6400;
}

.imgs {
   margin: 30px auto;
   box-sizing: border-box;
   overflow: hidden;
   width: 80%;
   height: 40%;
   /* border: 2px solid #00613d; */
}

.imgs>img {
   box-sizing: border-box;
   width: 30%;
   height: auto;
   margin: 20px;
   border-radius: 10px;
}

.Controll>i:first-child {
   position: absolute;
   top: 30%;
   left: 8%;
   color: violet;
   font-size: 40px;
   transform: translateY(55%);
}

.Controll>i:last-child {
   position: absolute;
   top: 30%;
   right: 8%;
   color: violet;
   font-size: 40px;
   transform: translateY(55%);
}

/*----------------------------*/
/* css cho phần tuyến đường phổ biến */

.route { 
   overflow: hidden; 
}

.route:hover {
   border: 3px solid #29d812;
   border-radius: 20px; 
 }

.route-info {
   display: flex;
   flex-direction: column;
}

#slide2 {
   overflow: hidden;
   position: relative;
   margin: 0 auto;
   height: 100%;
}

.text-slice2 >h2 {
   color: #fb6400;
   text-align: center;
   font-size: xx-large;
}

.text-slice2 > p {
   text-align: center;
   font-size: large;
   font-style: italic;
}

.route > a {
   text-decoration: none;
   color: #00613d;
   text-align: center;
   font-size: 25px;
   object-fit: cover; 
}

.img-route {
    border-radius: 10px;
    margin-top: 10px;
    width: 100px;
    height: auto;
    transition: transform 0.5s;
    transform: scale(1); 
    margin: 0;
}

.route:hover .img-route {
   transform: scale(1.1); 
}

.fixed-size-img {
   width: 70%; 
   height: 10%; 
   object-fit: cover; 
}

.Controll2 {
   font-size: xxx-large;
}

.Controll2 >i:first-child {
position: absolute;
top: 50%;
left: 3%;
}

.Controll2 >i:last-child{
position: absolute;
top: 50%;
right: 3%;
}

.abouts, .about1,  .about2, .about3{
   list-style-type: none;
}

.more-about> h2 {
   color: #fb6400;
   text-align: center;
   font-size: xx-large;
   margin-top: 20px;
}

.more-about > p {
   font-style: italic;
   font-weight: bolder;
   text-align: center;
   margin-top: 10px;
}

h4 {
   font-size: 30px;
   text-align: start;
}
.about1, .about2, .about3 {
   margin: 20px auto;
}
/*----------------------------------*/
.support {
   position: fixed;
   left: -1.5%;
   bottom: 20px;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
  transform: translate(-150px, 0);
}

.support a {
   color: #1d1c1c;
   background: rgb(206, 204, 199);
   font-size: 20px;
   text-decoration: none;
   display: block;
   margin: 3px;
   padding: 12px;
   width: 200px;
   text-align: left;
   border-radius: 50px;
   transition: 1s;
   text-align: end;
}

.support a:hover {
   transform: translate(100px, 0);
}


.icon-left {
   font-size: x-large;
}

/*cuộn hiện từ từ*/
.reveal {
   position: relative;
   transform: translateY(80px);
   opacity: 0;
    transition: all 1s ease;
}

.reveal.active {
   transform: translateY(0px);
   opacity: 1;
} 

/*------------------------------------------*/
.Notification {
   position: fixed;
   z-index: 999;
   background-color: rgb(70, 175, 144);
   border: 1px solid #ccc;
   padding: 40px;
   margin-bottom: 20px;
   text-align: center;
   left: 38%;
   top: 50%;
   border-radius: 10px;
   display: none; 
}

.Notification > p:first-child {
   text-align: end;
}

.close2 {
   font-size: x-large;
   position: absolute;
   top: 5%;
}
/*-------------------------------------------------------*/
/* cố định header, nhưng header quá bự => xấu*/
header {
   position: fixed;
   box-sizing: border-box;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 999;
   border-bottom: 1px solid #f5f5f5;

}

main {
   padding-top: 10%;
}

.bg-nav {
   height: 80px;
}

.img{
   height: 50px;
   width: 60px;
}
/*---------------------------------------------------------*/
/*đăng nhập*/
.login {
    width: 420px;
    background:transparent;
    color:#333;
    border-radius: 30px;
    padding: 30px;
    border: 2px solid #333;
    box-shadow: 0 0 10px #333;
    /* backdrop-filter: blur(10px); */
   position: fixed;
   left: 35%;
   top: 20%;
   z-index: 999;
   background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(130, 253, 255, 0.916));
}

.close-login {
   position: absolute;
   right: 20px;
   top: 20px;
   font-size: xx-large;
   color: #757474;
}

.close-login:hover {
   color: #ff357a;
}

.login h1 {
    text-align: center;
    font-size: 36px;
    text-transform: capitalize;
    color: rgb(153, 7, 226);
}
.login .input {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}
.input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    border: 2px solid #333;
    border-radius: 40px;
    font-size: 20px;
    padding-left: 10px;
   padding-right: 50px;
   background-color: white;
   
}
.input input::placeholder {
    color: #333;
}
.input i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    padding-top: 4%;
}

div.login .forget {
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    padding-bottom: 5px;
}

.forget{
    color: #ff357a;
}
.forget > a {
    color: brown;
    text-decoration: none;
}
.forget > a:hover {
    color: darkmagenta;
}

.login .btn {
    width: 100%;
    height: 40px;
   
    border-radius: 40px;
    font-size: 18px;
    font-weight: 600;
   margin-top: 10px;
}
.login .btn:hover {
    font-size: larger;
    border: 16px;
    background: linear-gradient(45deg, #ff357a, #fff172);
}

.login .register {
    font-size: 16px;
    text-align: center;
    margin-top: 15px;
    color: #111;
}

.register > p > a {
    color: crimson;
    text-decoration: none;
    font-weight: 600;
}

.register > p > a:hover {
    color: darkviolet;
}

#popup {
   display: none;
 }

 .img-location {
   width: 200px; 
   height: auto;
   transition: transform 0.3s; 
   transform: scale(1); 
}

.img-location:hover {
   transform: scale(1.2); 
}

.hover-animate:hover {
   display: block;
   
}